USE [master]
GO

--- Drop Database jika sudah ada, untuk memastikan clean slate (opsional, tapi disarankan jika ingin membuat ulang)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'db_apotek')
BEGIN
    ALTER DATABASE [db_apotek] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [db_apotek];
END
GO
/****** Object:  Database [db_apotek]    Script Date: 19/10/2025 13:08:40 ******/
CREATE DATABASE [db_apotek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_apotek', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_apotek.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_apotek_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_apotek_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_apotek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_apotek]
GO
/****** Object:  Schema [db_apotek]    Script Date: 19/10/2025 13:08:40 ******/
CREATE SCHEMA [db_apotek]
GO
--- PEMBUATAN FUNGSI (ENUM TO STRING AND VICE VERSA) (Tetap sama)
/****** Object:  UserDefinedFunction [db_apotek].[enum2str$tb_admin$Jenis_Kelamin]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[enum2str$tb_admin$Jenis_Kelamin] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'L'
            WHEN 2 THEN 'P'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[enum2str$tb_dokter$Jenis_Kelamin]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[enum2str$tb_dokter$Jenis_Kelamin] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'L'
            WHEN 2 THEN 'P'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[enum2str$tb_obat$Bisa_Diproduksi]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[enum2str$tb_obat$Bisa_Diproduksi] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'Ya'
            WHEN 2 THEN 'Tidak'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[enum2str$tb_pelanggan$Jenis_Kelamin]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[enum2str$tb_pelanggan$Jenis_Kelamin] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'L'
            WHEN 2 THEN 'P'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[enum2str$tb_transaksi$Jenis_Pembayaran]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[enum2str$tb_transaksi$Jenis_Pembayaran] 
( 
   @setval tinyint
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 1 THEN 'Online'
            WHEN 2 THEN 'Offline'
            ELSE ''
         END
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[norm_enum$tb_admin$Jenis_Kelamin]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[norm_enum$tb_admin$Jenis_Kelamin] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN db_apotek.enum2str$tb_admin$Jenis_Kelamin(db_apotek.str2enum$tb_admin$Jenis_Kelamin(@setval))
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[norm_enum$tb_dokter$Jenis_Kelamin]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[norm_enum$tb_dokter$Jenis_Kelamin] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN db_apotek.enum2str$tb_dokter$Jenis_Kelamin(db_apotek.str2enum$tb_dokter$Jenis_Kelamin(@setval))
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[norm_enum$tb_obat$Bisa_Diproduksi]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[norm_enum$tb_obat$Bisa_Diproduksi] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN db_apotek.enum2str$tb_obat$Bisa_Diproduksi(db_apotek.str2enum$tb_obat$Bisa_Diproduksi(@setval))
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[norm_enum$tb_pelanggan$Jenis_Kelamin]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[norm_enum$tb_pelanggan$Jenis_Kelamin] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN db_apotek.enum2str$tb_pelanggan$Jenis_Kelamin(db_apotek.str2enum$tb_pelanggan$Jenis_Kelamin(@setval))
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[norm_enum$tb_transaksi$Jenis_Pembayaran]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[norm_enum$tb_transaksi$Jenis_Pembayaran] 
( 
   @setval nvarchar(max)
)
RETURNS nvarchar(max)
AS 
   BEGIN
      RETURN db_apotek.enum2str$tb_transaksi$Jenis_Pembayaran(db_apotek.str2enum$tb_transaksi$Jenis_Pembayaran(@setval))
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[str2enum$tb_admin$Jenis_Kelamin]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[str2enum$tb_admin$Jenis_Kelamin] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'L' THEN 1
            WHEN 'P' THEN 2
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[str2enum$tb_dokter$Jenis_Kelamin]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[str2enum$tb_dokter$Jenis_Kelamin] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'L' THEN 1
            WHEN 'P' THEN 2
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[str2enum$tb_obat$Bisa_Diproduksi]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[str2enum$tb_obat$Bisa_Diproduksi] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'Ya' THEN 1
            WHEN 'Tidak' THEN 2
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[str2enum$tb_pelanggan$Jenis_Kelamin]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[str2enum$tb_pelanggan$Jenis_Kelamin] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'L' THEN 1
            WHEN 'P' THEN 2
            ELSE 0
         END
   END
GO
/****** Object:  UserDefinedFunction [db_apotek].[str2enum$tb_transaksi$Jenis_Pembayaran]    Script Date: 19/10/2025 13:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [db_apotek].[str2enum$tb_transaksi$Jenis_Pembayaran] 
( 
   @setval nvarchar(max)
)
RETURNS tinyint
AS 
   BEGIN
      RETURN 
         CASE @setval
            WHEN 'Online' THEN 1
            WHEN 'Offline' THEN 2
            ELSE 0
         END
   END
GO

--- PEMBUATAN TABEL

/****** Object:  Table [db_apotek].[tb_admin] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_admin](
	[ID_Admin] [int] IDENTITY(4,1) NOT NULL,
	[Nama_Admin] [nvarchar](50) NULL,
	[No_Telp] [nvarchar](15) NULL,
	[Alamat_Admin] [nvarchar](max) NULL,
	[Registrasi] [date] NULL,
	[Jenis_Kelamin] [nvarchar](1) NULL,
	[Email_Admin] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_admin_ID_Admin] PRIMARY KEY CLUSTERED 
(
	[ID_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [db_apotek].[tb_detail_obat] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_detail_obat](
	[ID_Detail_Obat] [int] IDENTITY(11,1) NOT NULL,
	[Komposisi_Obat] [nvarchar](max) NULL,
	[Dosis] [nvarchar](50) NULL,
	[Tanggal] [date] NULL,
 CONSTRAINT [PK_tb_detail_obat_ID_Detail_Obat] PRIMARY KEY CLUSTERED 
(
	[ID_Detail_Obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [db_apotek].[tb_dokter] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_dokter](
	[ID_Dokter] [int] IDENTITY(11,1) NOT NULL,
	[Nama_Dokter] [nvarchar](50) NULL,
	[Jabatan] [nvarchar](30) NULL,
	[Jenis_Kelamin] [nvarchar](1) NULL,
	[No_Telp] [nvarchar](15) NULL,
	[Alamat] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_dokter_ID_Dokter] PRIMARY KEY CLUSTERED 
(
	[ID_Dokter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [db_apotek].[tb_kategori_obat] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_kategori_obat](
	[ID_Kategori_Obat] [int] IDENTITY(6,1) NOT NULL,
	[Nama_Kategori] [nvarchar](50) NULL,
	[Deskripsi_Kategori] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_kategori_obat_ID_Kategori_Obat] PRIMARY KEY CLUSTERED 
(
	[ID_Kategori_Obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [db_apotek].[tb_pelanggan] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_pelanggan](
	[ID_Pelanggan] [int] IDENTITY(6,1) NOT NULL,
	[Nama] [nvarchar](50) NULL,
	[Jenis_Kelamin] [nvarchar](1) NULL,
	[No_HP] [nvarchar](15) NULL,
	[Alamat] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_pelanggan_ID_Pelanggan] PRIMARY KEY CLUSTERED 
(
	[ID_Pelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [db_apotek].[tb_resep_obat] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_resep_obat](
	[ID_Resep] [int] IDENTITY(51,1) NOT NULL,
	[ID_Dokter] [int] NULL,
	[ID_Detail_Transaksi] [int] NULL,
	[Tgl_Pembuatan] [date] NULL,
	[Deskripsi_Resep] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_resep_obat_ID_Resep] PRIMARY KEY CLUSTERED 
(
	[ID_Resep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [db_apotek].[tb_transaksi] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_transaksi](
	[ID_Transaksi] [int] IDENTITY(51,1) NOT NULL,
	[ID_Admin] [int] NULL,
	[ID_Pelanggan] [int] NULL,
	[No_Registrasi] [nvarchar](20) NULL,
	[Tanggal] [date] NULL,
	[Total_Harga] [decimal](12, 2) NULL,
	[Jenis_Pembayaran] [nvarchar](7) NULL,
 CONSTRAINT [PK_tb_transaksi_ID_Transaksi] PRIMARY KEY CLUSTERED 
(
	[ID_Transaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--- PERUBAHAN NAMA: tb_Produsen menjadi tb_Supplier
/****** Object:  Table [db_apotek].[tb_supplier] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_supplier](
	[ID_Supplier] [int] IDENTITY(4,1) NOT NULL,
	[Nama_Supplier] [nvarchar](50) NULL,
	[Alamat] [nvarchar](max) NULL,
	[No_Telp] [nvarchar](15) NULL,
 CONSTRAINT [PK_tb_supplier_ID_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID_Supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

--- PERUBAHAN NAMA: tb_pemesanan_produsen menjadi tb_pemesanan_supplier
/****** Object:  Table [db_apotek].[tb_pemesanan_supplier] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_pemesanan_supplier](
	[ID_Pemesanan] [int] IDENTITY(8,1) NOT NULL,
	[ID_Supplier] [int] NULL, -- Kolom diubah namanya
	[Total_Harga] [decimal](12, 2) NULL,
	[Tanggal_Pemesanan] [date] NULL,
 CONSTRAINT [PK_tb_pemesanan_supplier_ID_Pemesanan] PRIMARY KEY CLUSTERED 
(
	[ID_Pemesanan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--- PERUBAHAN NAMA: Kolom ID_Produsen di tb_obat menjadi ID_Supplier
/****** Object:  Table [db_apotek].[tb_obat] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_obat](
	[ID_Obat] [int] IDENTITY(11,1) NOT NULL,
	[ID_Kategori_Obat] [int] NULL,
	[Nama_Obat] [nvarchar](10) NULL,
	[Stok_Obat] [int] NULL,
	[Harga_Jual] [decimal](12, 2) NULL,
	[Harga_Beli] [decimal](12, 2) NULL,
	[Bisa_Diproduksi] [nvarchar](5) NULL,
	[ID_Supplier] [int] NULL, -- Kolom diubah namanya
 CONSTRAINT [PK_tb_obat_ID_Obat] PRIMARY KEY CLUSTERED 
(
	[ID_Obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--- Tabel Detail Pemesanan
/****** Object:  Table [db_apotek].[tb_detail_pemesanan] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_detail_pemesanan](
	[ID_Detail_Pemesanan] [int] IDENTITY(16,1) NOT NULL,
	[ID_Pemesanan] [int] NULL,
	[ID_Obat] [int] NULL,
	[Tanggal_Pemesanan] [date] NULL,
	[Jumlah_Pesanan] [int] NULL,
 CONSTRAINT [PK_tb_detail_pemesanan_ID_Detail_Pemesanan] PRIMARY KEY CLUSTERED 
(
	[ID_Detail_Pemesanan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--- Tabel Detail Transaksi
/****** Object:  Table [db_apotek].[tb_detail_transaksi] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_detail_transaksi](
	[ID_Detail_Transaksi] [int] IDENTITY(96,1) NOT NULL,
	[ID_Transaksi] [int] NULL,
	[ID_Obat] [int] NULL,
	[Jumlah] [int] NULL,
	[Subtotal_Harga] [decimal](12, 2) NULL,
 CONSTRAINT [PK_tb_detail_transaksi_ID_Detail_Transaksi] PRIMARY KEY CLUSTERED 
(
	[ID_Detail_Transaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [db_apotek].[tb_detail_resep] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [db_apotek].[tb_detail_resep](
	[ID_Detail_Resep] [int] IDENTITY(51,1) NOT NULL,
	[ID_Resep] [int] NULL,
	[ID_Obat] [int] NULL,
	[Harga_Satuan] [decimal](12, 2) NULL,
	[Jumlah] [int] NULL,
 CONSTRAINT [PK_tb_detail_resep_ID_Detail_Resep] PRIMARY KEY CLUSTERED 
(
	[ID_Detail_Resep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

--- PENYISIPAN DATA

SET IDENTITY_INSERT [db_apotek].[tb_admin] ON 
INSERT [db_apotek].[tb_admin] ([ID_Admin], [Nama_Admin], [No_Telp], [Alamat_Admin], [Registrasi], [Jenis_Kelamin], [Email_Admin]) VALUES (1, N'Admin1', N'081234560001', N'Alamat Admin 1', CAST(N'2024-01-01' AS Date), N'L', N'admin1@email.com')
INSERT [db_apotek].[tb_admin] ([ID_Admin], [Nama_Admin], [No_Telp], [Alamat_Admin], [Registrasi], [Jenis_Kelamin], [Email_Admin]) VALUES (2, N'Admin2', N'081234560002', N'Alamat Admin 2', CAST(N'2024-01-01' AS Date), N'P', N'admin2@email.com')
INSERT [db_apotek].[tb_admin] ([ID_Admin], [Nama_Admin], [No_Telp], [Alamat_Admin], [Registrasi], [Jenis_Kelamin], [Email_Admin]) VALUES (3, N'Admin3', N'081234560003', N'Alamat Admin 3', CAST(N'2024-01-01' AS Date), N'L', N'admin3@email.com')
SET IDENTITY_INSERT [db_apotek].[tb_admin] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_detail_obat] ON 
INSERT [db_apotek].[tb_detail_obat] ([ID_Detail_Obat], [Komposisi_Obat], [Dosis], [Tanggal]) VALUES (1, N'Paracetamol 500mg, Povidone, Magnesium Stearate', N'1 tablet setiap 8 jam', CAST(N'2025-03-01' AS Date))
INSERT [db_apotek].[tb_detail_obat] ([ID_Detail_Obat], [Komposisi_Obat], [Dosis], [Tanggal]) VALUES (2, N'Amoxicillin 250mg, Sodium Benzoate, Talc', N'2x sehari setelah makan', CAST(N'2025-03-03' AS Date))
INSERT [db_apotek].[tb_detail_obat] ([ID_Detail_Obat], [Komposisi_Obat], [Dosis], [Tanggal]) VALUES (3, N'Ibuprofen 400mg, Corn Starch, Cellulose', N'3x sehari', CAST(N'2025-03-05' AS Date))
SET IDENTITY_INSERT [db_apotek].[tb_detail_obat] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_dokter] ON 
INSERT [db_apotek].[tb_dokter] ([ID_Dokter], [Nama_Dokter], [Jabatan], [Jenis_Kelamin], [No_Telp], [Alamat]) VALUES (1, N'dr. Andi Prasetyo', N'Dokter Umum', N'L', N'081234567890', N'Jl. Melati No. 12, Bandung')
INSERT [db_apotek].[tb_dokter] ([ID_Dokter], [Nama_Dokter], [Jabatan], [Jenis_Kelamin], [No_Telp], [Alamat]) VALUES (2, N'dr. Rina Kartika', N'Dokter Gigi', N'P', N'082198765432', N'Jl. Cempaka No. 8, Jakarta Selatan')
INSERT [db_apotek].[tb_dokter] ([ID_Dokter], [Nama_Dokter], [Jabatan], [Jenis_Kelamin], [No_Telp], [Alamat]) VALUES (3, N'dr. Budi Santoso', N'Dokter Anak', N'L', N'081398743211', N'Jl. Merpati No. 45, Surabaya')
SET IDENTITY_INSERT [db_apotek].[tb_dokter] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_kategori_obat] ON 
INSERT [db_apotek].[tb_kategori_obat] ([ID_Kategori_Obat], [Nama_Kategori], [Deskripsi_Kategori]) VALUES (1, N'Analgesik', NULL)
INSERT [db_apotek].[tb_kategori_obat] ([ID_Kategori_Obat], [Nama_Kategori], [Deskripsi_Kategori]) VALUES (2, N'Antibiotik', NULL)
INSERT [db_apotek].[tb_kategori_obat] ([ID_Kategori_Obat], [Nama_Kategori], [Deskripsi_Kategori]) VALUES (3, N'Antipiretik', NULL)
SET IDENTITY_INSERT [db_apotek].[tb_kategori_obat] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_pelanggan] ON 
INSERT [db_apotek].[tb_pelanggan] ([ID_Pelanggan], [Nama], [Jenis_Kelamin], [No_HP], [Alamat]) VALUES (1, N'Pelanggan1', N'L', N'081234567891', N'Alamat 1')
INSERT [db_apotek].[tb_pelanggan] ([ID_Pelanggan], [Nama], [Jenis_Kelamin], [No_HP], [Alamat]) VALUES (2, N'Pelanggan2', N'P', N'081234567892', N'Alamat 2')
INSERT [db_apotek].[tb_pelanggan] ([ID_Pelanggan], [Nama], [Jenis_Kelamin], [No_HP], [Alamat]) VALUES (3, N'Pelanggan3', N'L', N'081234567893', N'Alamat 3')
SET IDENTITY_INSERT [db_apotek].[tb_pelanggan] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_supplier] ON 
INSERT [db_apotek].[tb_supplier] ([ID_Supplier], [Nama_Supplier], [Alamat], [No_Telp]) VALUES (1, N'Kimia Farma', N'Jakarta', NULL)
INSERT [db_apotek].[tb_supplier] ([ID_Supplier], [Nama_Supplier], [Alamat], [No_Telp]) VALUES (2, N'Kalbe Farma', N'Surabaya', NULL)
INSERT [db_apotek].[tb_supplier] ([ID_Supplier], [Nama_Supplier], [Alamat], [No_Telp]) VALUES (3, N'Dexa Medica', N'Bandung', NULL)
SET IDENTITY_INSERT [db_apotek].[tb_supplier] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_obat] ON 
INSERT [db_apotek].[tb_obat] ([ID_Obat], [ID_Kategori_Obat], [Nama_Obat], [Stok_Obat], [Harga_Jual], [Harga_Beli], [Bisa_Diproduksi], [ID_Supplier]) VALUES (1, 1, N'Obat1', 100, CAST(25000.00 AS Decimal(12, 2)), CAST(17500.00 AS Decimal(12, 2)), N'Ya', 3)
INSERT [db_apotek].[tb_obat] ([ID_Obat], [ID_Kategori_Obat], [Nama_Obat], [Stok_Obat], [Harga_Jual], [Harga_Beli], [Bisa_Diproduksi], [ID_Supplier]) VALUES (2, 1, N'Obat2', 80, CAST(30000.00 AS Decimal(12, 2)), CAST(21000.00 AS Decimal(12, 2)), N'Tidak', 1)
INSERT [db_apotek].[tb_obat] ([ID_Obat], [ID_Kategori_Obat], [Nama_Obat], [Stok_Obat], [Harga_Jual], [Harga_Beli], [Bisa_Diproduksi], [ID_Supplier]) VALUES (3, 1, N'Obat3', 120, CAST(32200.00 AS Decimal(12, 2)), CAST(22540.00 AS Decimal(12, 2)), N'Ya', 2)
SET IDENTITY_INSERT [db_apotek].[tb_obat] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_pemesanan_supplier] ON 
INSERT [db_apotek].[tb_pemesanan_supplier] ([ID_Pemesanan], [ID_Supplier], [Total_Harga], [Tanggal_Pemesanan]) VALUES (1, 1, CAST(1500000.00 AS Decimal(12, 2)), CAST(N'2025-03-05' AS Date))
INSERT [db_apotek].[tb_pemesanan_supplier] ([ID_Pemesanan], [ID_Supplier], [Total_Harga], [Tanggal_Pemesanan]) VALUES (2, 2, CAST(1000000.00 AS Decimal(12, 2)), CAST(N'2025-03-10' AS Date))
INSERT [db_apotek].[tb_pemesanan_supplier] ([ID_Pemesanan], [ID_Supplier], [Total_Harga], [Tanggal_Pemesanan]) VALUES (3, 3, CAST(1100000.00 AS Decimal(12, 2)), CAST(N'2025-03-15' AS Date))
SET IDENTITY_INSERT [db_apotek].[tb_pemesanan_supplier] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_detail_pemesanan] ON 
INSERT [db_apotek].[tb_detail_pemesanan] ([ID_Detail_Pemesanan], [ID_Pemesanan], [ID_Obat], [Tanggal_Pemesanan], [Jumlah_Pesanan]) VALUES (1, 1, 2, CAST(N'2025-03-05' AS Date), 50)
INSERT [db_apotek].[tb_detail_pemesanan] ([ID_Detail_Pemesanan], [ID_Pemesanan], [ID_Obat], [Tanggal_Pemesanan], [Jumlah_Pesanan]) VALUES (2, 1, 7, CAST(N'2025-03-05' AS Date), 40)
INSERT [db_apotek].[tb_detail_pemesanan] ([ID_Detail_Pemesanan], [ID_Pemesanan], [ID_Obat], [Tanggal_Pemesanan], [Jumlah_Pesanan]) VALUES (3, 2, 3, CAST(N'2025-03-10' AS Date), 70)
SET IDENTITY_INSERT [db_apotek].[tb_detail_pemesanan] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_detail_resep] ON 
INSERT [db_apotek].[tb_detail_resep] ([ID_Detail_Resep], [ID_Resep], [ID_Obat], [Harga_Satuan], [Jumlah]) VALUES (1, 1, 1, CAST(25000.00 AS Decimal(12, 2)), 2)
INSERT [db_apotek].[tb_detail_resep] ([ID_Detail_Resep], [ID_Resep], [ID_Obat], [Harga_Satuan], [Jumlah]) VALUES (2, 2, 2, CAST(30000.00 AS Decimal(12, 2)), 1)
INSERT [db_apotek].[tb_detail_resep] ([ID_Detail_Resep], [ID_Resep], [ID_Obat], [Harga_Satuan], [Jumlah]) VALUES (3, 3, 3, CAST(32200.00 AS Decimal(12, 2)), 3)
SET IDENTITY_INSERT [db_apotek].[tb_detail_resep] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_detail_transaksi] ON 
INSERT [db_apotek].[tb_detail_transaksi] ([ID_Detail_Transaksi], [ID_Transaksi], [ID_Obat], [Jumlah], [Subtotal_Harga]) VALUES (1, 1, 4, 3, CAST(34569.00 AS Decimal(12, 2)))
INSERT [db_apotek].[tb_detail_transaksi] ([ID_Detail_Transaksi], [ID_Transaksi], [ID_Obat], [Jumlah], [Subtotal_Harga]) VALUES (2, 1, 9, 3, CAST(90321.00 AS Decimal(12, 2)))
INSERT [db_apotek].[tb_detail_transaksi] ([ID_Detail_Transaksi], [ID_Transaksi], [ID_Obat], [Jumlah], [Subtotal_Harga]) VALUES (3, 2, 3, 2, CAST(96876.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [db_apotek].[tb_detail_transaksi] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_resep_obat] ON 
INSERT [db_apotek].[tb_resep_obat] ([ID_Resep], [ID_Dokter], [ID_Detail_Transaksi], [Tgl_Pembuatan], [Deskripsi_Resep]) VALUES (1, 1, 1, CAST(N'2025-03-08' AS Date), N'Dikonsumsi setelah makan, 3x sehari')
INSERT [db_apotek].[tb_resep_obat] ([ID_Resep], [ID_Dokter], [ID_Detail_Transaksi], [Tgl_Pembuatan], [Deskripsi_Resep]) VALUES (2, 2, 2, CAST(N'2025-03-27' AS Date), N'Gunakan sebelum tidur malam')
INSERT [db_apotek].[tb_resep_obat] ([ID_Resep], [ID_Dokter], [ID_Detail_Transaksi], [Tgl_Pembuatan], [Deskripsi_Resep]) VALUES (3, 3, 3, CAST(N'2025-04-29' AS Date), N'Minum dua kali sehari')
SET IDENTITY_INSERT [db_apotek].[tb_resep_obat] OFF
GO
SET IDENTITY_INSERT [db_apotek].[tb_transaksi] ON 
INSERT [db_apotek].[tb_transaksi] ([ID_Transaksi], [ID_Admin], [ID_Pelanggan], [No_Registrasi], [Tanggal], [Total_Harga], [Jenis_Pembayaran]) VALUES (1, 2, 2, N'REG001', CAST(N'2025-03-08' AS Date), CAST(124890.00 AS Decimal(12, 2)), N'Offline')
INSERT [db_apotek].[tb_transaksi] ([ID_Transaksi], [ID_Admin], [ID_Pelanggan], [No_Registrasi], [Tanggal], [Total_Harga], [Jenis_Pembayaran]) VALUES (2, 3, 3, N'REG002', CAST(N'2025-03-27' AS Date), CAST(96876.00 AS Decimal(12, 2)), N'Offline')
INSERT [db_apotek].[tb_transaksi] ([ID_Transaksi], [ID_Admin], [ID_Pelanggan], [No_Registrasi], [Tanggal], [Total_Harga], [Jenis_Pembayaran]) VALUES (3, 2, 3, N'REG003', CAST(N'2025-04-29' AS Date), CAST(124085.00 AS Decimal(12, 2)), N'Offline')
SET IDENTITY_INSERT [db_apotek].[tb_transaksi] OFF
GO
--- PEMBUATAN INDEX (Disesuaikan dengan nama baru)
/****** Object:  Index [ID_Obat] on tb_detail_pemesanan ******/
CREATE NONCLUSTERED INDEX [ID_Obat] ON [db_apotek].[tb_detail_pemesanan]
(
	[ID_Obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Pemesanan] on tb_detail_pemesanan ******/
CREATE NONCLUSTERED INDEX [ID_Pemesanan] ON [db_apotek].[tb_detail_pemesanan]
(
	[ID_Pemesanan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Obat] on tb_detail_resep ******/
CREATE NONCLUSTERED INDEX [ID_Obat] ON [db_apotek].[tb_detail_resep]
(
	[ID_Obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Resep] on tb_detail_resep ******/
CREATE NONCLUSTERED INDEX [ID_Resep] ON [db_apotek].[tb_detail_resep]
(
	[ID_Resep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Obat] on tb_detail_transaksi ******/
CREATE NONCLUSTERED INDEX [ID_Obat] ON [db_apotek].[tb_detail_transaksi]
(
	[ID_Obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Transaksi] on tb_detail_transaksi ******/
CREATE NONCLUSTERED INDEX [ID_Transaksi] ON [db_apotek].[tb_detail_transaksi]
(
	[ID_Transaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Supplier] on tb_obat (Ganti dari fk_obat_produsen) ******/
CREATE NONCLUSTERED INDEX [ID_Supplier] ON [db_apotek].[tb_obat]
(
	[ID_Supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Kategori_Obat] on tb_obat ******/
CREATE NONCLUSTERED INDEX [ID_Kategori_Obat] ON [db_apotek].[tb_obat]
(
	[ID_Kategori_Obat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Supplier] on tb_pemesanan_supplier (Ganti dari ID_Produsen) ******/
CREATE NONCLUSTERED INDEX [ID_Supplier] ON [db_apotek].[tb_pemesanan_supplier]
(
	[ID_Supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Detail_Transaksi] on tb_resep_obat ******/
CREATE NONCLUSTERED INDEX [ID_Detail_Transaksi] ON [db_apotek].[tb_resep_obat]
(
	[ID_Detail_Transaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Dokter] on tb_resep_obat ******/
CREATE NONCLUSTERED INDEX [ID_Dokter] ON [db_apotek].[tb_resep_obat]
(
	[ID_Dokter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Admin] on tb_transaksi ******/
CREATE NONCLUSTERED INDEX [ID_Admin] ON [db_apotek].[tb_transaksi]
(
	[ID_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ID_Pelanggan] on tb_transaksi ******/
CREATE NONCLUSTERED INDEX [ID_Pelanggan] ON [db_apotek].[tb_transaksi]
(
	[ID_Pelanggan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

--- DEFAULT CONSTRAINTS (Disesuaikan dengan nama baru)
ALTER TABLE [db_apotek].[tb_admin] ADD  DEFAULT (NULL) FOR [Nama_Admin]
GO
ALTER TABLE [db_apotek].[tb_admin] ADD  DEFAULT (NULL) FOR [No_Telp]
GO
ALTER TABLE [db_apotek].[tb_admin] ADD  DEFAULT (NULL) FOR [Alamat_Admin]
GO
ALTER TABLE [db_apotek].[tb_admin] ADD  DEFAULT (NULL) FOR [Registrasi]
GO
ALTER TABLE [db_apotek].[tb_admin] ADD  DEFAULT (NULL) FOR [Jenis_Kelamin]
GO
ALTER TABLE [db_apotek].[tb_admin] ADD  DEFAULT (NULL) FOR [Email_Admin]
GO
ALTER TABLE [db_apotek].[tb_detail_obat] ADD  DEFAULT (NULL) FOR [Komposisi_Obat]
GO
ALTER TABLE [db_apotek].[tb_detail_obat] ADD  DEFAULT (NULL) FOR [Dosis]
GO
ALTER TABLE [db_apotek].[tb_detail_obat] ADD  DEFAULT (NULL) FOR [Tanggal]
GO
ALTER TABLE [db_apotek].[tb_detail_pemesanan] ADD  DEFAULT (NULL) FOR [ID_Pemesanan]
GO
ALTER TABLE [db_apotek].[tb_detail_pemesanan] ADD  DEFAULT (NULL) FOR [ID_Obat]
GO
ALTER TABLE [db_apotek].[tb_detail_pemesanan] ADD  DEFAULT (NULL) FOR [Tanggal_Pemesanan]
GO
ALTER TABLE [db_apotek].[tb_detail_pemesanan] ADD  DEFAULT (NULL) FOR [Jumlah_Pesanan]
GO
ALTER TABLE [db_apotek].[tb_detail_resep] ADD  DEFAULT (NULL) FOR [ID_Resep]
GO
ALTER TABLE [db_apotek].[tb_detail_resep] ADD  DEFAULT (NULL) FOR [ID_Obat]
GO
ALTER TABLE [db_apotek].[tb_detail_resep] ADD  DEFAULT (NULL) FOR [Harga_Satuan]
GO
ALTER TABLE [db_apotek].[tb_detail_resep] ADD  DEFAULT (NULL) FOR [Jumlah]
GO
ALTER TABLE [db_apotek].[tb_detail_transaksi] ADD  DEFAULT (NULL) FOR [ID_Transaksi]
GO
ALTER TABLE [db_apotek].[tb_detail_transaksi] ADD  DEFAULT (NULL) FOR [ID_Obat]
GO
ALTER TABLE [db_apotek].[tb_detail_transaksi] ADD  DEFAULT (NULL) FOR [Jumlah]
GO
ALTER TABLE [db_apotek].[tb_detail_transaksi] ADD  DEFAULT (NULL) FOR [Subtotal_Harga]
GO
ALTER TABLE [db_apotek].[tb_dokter] ADD  DEFAULT (NULL) FOR [Nama_Dokter]
GO
ALTER TABLE [db_apotek].[tb_dokter] ADD  DEFAULT (NULL) FOR [Jabatan]
GO
ALTER TABLE [db_apotek].[tb_dokter] ADD  DEFAULT (NULL) FOR [Jenis_Kelamin]
GO
ALTER TABLE [db_apotek].[tb_dokter] ADD  DEFAULT (NULL) FOR [No_Telp]
GO
ALTER TABLE [db_apotek].[tb_dokter] ADD  DEFAULT (NULL) FOR [Alamat]
GO
ALTER TABLE [db_apotek].[tb_kategori_obat] ADD  DEFAULT (NULL) FOR [Nama_Kategori]
GO
ALTER TABLE [db_apotek].[tb_kategori_obat] ADD  DEFAULT (NULL) FOR [Deskripsi_Kategori]
GO
ALTER TABLE [db_apotek].[tb_obat] ADD  DEFAULT (NULL) FOR [ID_Kategori_Obat]
GO
ALTER TABLE [db_apotek].[tb_obat] ADD  DEFAULT (NULL) FOR [Nama_Obat]
GO
ALTER TABLE [db_apotek].[tb_obat] ADD  DEFAULT (NULL) FOR [Stok_Obat]
GO
ALTER TABLE [db_apotek].[tb_obat] ADD  DEFAULT (NULL) FOR [Harga_Jual]
GO
ALTER TABLE [db_apotek].[tb_obat] ADD  DEFAULT (NULL) FOR [Harga_Beli]
GO
ALTER TABLE [db_apotek].[tb_obat] ADD  DEFAULT (NULL) FOR [Bisa_Diproduksi]
GO
ALTER TABLE [db_apotek].[tb_obat] ADD  DEFAULT (NULL) FOR [ID_Supplier]
GO
ALTER TABLE [db_apotek].[tb_pelanggan] ADD  DEFAULT (NULL) FOR [Nama]
GO
ALTER TABLE [db_apotek].[tb_pelanggan] ADD  DEFAULT (NULL) FOR [Jenis_Kelamin]
GO
ALTER TABLE [db_apotek].[tb_pelanggan] ADD  DEFAULT (NULL) FOR [No_HP]
GO
ALTER TABLE [db_apotek].[tb_pelanggan] ADD  DEFAULT (NULL) FOR [Alamat]
GO
ALTER TABLE [db_apotek].[tb_pemesanan_supplier] ADD  DEFAULT (NULL) FOR [ID_Supplier]
GO
ALTER TABLE [db_apotek].[tb_pemesanan_supplier] ADD  DEFAULT (NULL) FOR [Total_Harga]
GO
ALTER TABLE [db_apotek].[tb_pemesanan_supplier] ADD  DEFAULT (NULL) FOR [Tanggal_Pemesanan]
GO
ALTER TABLE [db_apotek].[tb_supplier] ADD  DEFAULT (NULL) FOR [Nama_Supplier]
GO
ALTER TABLE [db_apotek].[tb_supplier] ADD  DEFAULT (NULL) FOR [Alamat]
GO
ALTER TABLE [db_apotek].[tb_supplier] ADD  DEFAULT (NULL) FOR [No_Telp]
GO
ALTER TABLE [db_apotek].[tb_resep_obat] ADD  DEFAULT (NULL) FOR [ID_Dokter]
GO
ALTER TABLE [db_apotek].[tb_resep_obat] ADD  DEFAULT (NULL) FOR [ID_Detail_Transaksi]
GO
ALTER TABLE [db_apotek].[tb_resep_obat] ADD  DEFAULT (NULL) FOR [Tgl_Pembuatan]
GO
ALTER TABLE [db_apotek].[tb_resep_obat] ADD  DEFAULT (NULL) FOR [Deskripsi_Resep]
GO
ALTER TABLE [db_apotek].[tb_transaksi] ADD  DEFAULT (NULL) FOR [ID_Admin]
GO
ALTER TABLE [db_apotek].[tb_transaksi] ADD  DEFAULT (NULL) FOR [ID_Pelanggan]
GO
ALTER TABLE [db_apotek].[tb_transaksi] ADD  DEFAULT (NULL) FOR [No_Registrasi]
GO
ALTER TABLE [db_apotek].[tb_transaksi] ADD  DEFAULT (NULL) FOR [Tanggal]
GO
ALTER TABLE [db_apotek].[tb_transaksi] ADD  DEFAULT (NULL) FOR [Total_Harga]
GO
ALTER TABLE [db_apotek].[tb_transaksi] ADD  DEFAULT (NULL) FOR [Jenis_Pembayaran]
GO

--- FOREIGN KEY CONSTRAINTS (Disesuaikan dengan nama baru)
ALTER TABLE [db_apotek].[tb_detail_pemesanan]  WITH NOCHECK ADD  CONSTRAINT [tb_detail_pemesanan_ibfk_1] FOREIGN KEY([ID_Pemesanan])
REFERENCES [db_apotek].[tb_pemesanan_supplier] ([ID_Pemesanan])
GO
ALTER TABLE [db_apotek].[tb_detail_pemesanan] CHECK CONSTRAINT [tb_detail_pemesanan_ibfk_1]
GO
ALTER TABLE [db_apotek].[tb_detail_pemesanan]  WITH NOCHECK ADD  CONSTRAINT [tb_detail_pemesanan_ibfk_2] FOREIGN KEY([ID_Obat])
REFERENCES [db_apotek].[tb_obat] ([ID_Obat])
GO
ALTER TABLE [db_apotek].[tb_detail_pemesanan] CHECK CONSTRAINT [tb_detail_pemesanan_ibfk_2]
GO
ALTER TABLE [db_apotek].[tb_detail_resep]  WITH NOCHECK ADD  CONSTRAINT [tb_detail_resep_ibfk_1] FOREIGN KEY([ID_Resep])
REFERENCES [db_apotek].[tb_resep_obat] ([ID_Resep])
GO
ALTER TABLE [db_apotek].[tb_detail_resep] CHECK CONSTRAINT [tb_detail_resep_ibfk_1]
GO
ALTER TABLE [db_apotek].[tb_detail_resep]  WITH NOCHECK ADD  CONSTRAINT [tb_detail_resep_ibfk_2] FOREIGN KEY([ID_Obat])
REFERENCES [db_apotek].[tb_obat] ([ID_Obat])
GO
ALTER TABLE [db_apotek].[tb_detail_resep] CHECK CONSTRAINT [tb_detail_resep_ibfk_2]
GO
ALTER TABLE [db_apotek].[tb_detail_transaksi]  WITH NOCHECK ADD  CONSTRAINT [tb_detail_transaksi_ibfk_1] FOREIGN KEY([ID_Transaksi])
REFERENCES [db_apotek].[tb_transaksi] ([ID_Transaksi])
GO
ALTER TABLE [db_apotek].[tb_detail_transaksi] CHECK CONSTRAINT [tb_detail_transaksi_ibfk_1]
GO
ALTER TABLE [db_apotek].[tb_detail_transaksi]  WITH NOCHECK ADD  CONSTRAINT [tb_detail_transaksi_ibfk_2] FOREIGN KEY([ID_Obat])
REFERENCES [db_apotek].[tb_obat] ([ID_Obat])
GO
ALTER TABLE [db_apotek].[tb_detail_transaksi] CHECK CONSTRAINT [tb_detail_transaksi_ibfk_2]
GO
ALTER TABLE [db_apotek].[tb_obat]  WITH NOCHECK ADD  CONSTRAINT [fk_obat_supplier] FOREIGN KEY([ID_Supplier])
REFERENCES [db_apotek].[tb_supplier] ([ID_Supplier])
GO
ALTER TABLE [db_apotek].[tb_obat] CHECK CONSTRAINT [fk_obat_supplier]
GO
ALTER TABLE [db_apotek].[tb_obat]  WITH NOCHECK ADD  CONSTRAINT [tb_obat_ibfk_1] FOREIGN KEY([ID_Kategori_Obat])
REFERENCES [db_apotek].[tb_kategori_obat] ([ID_Kategori_Obat])
GO
ALTER TABLE [db_apotek].[tb_obat] CHECK CONSTRAINT [tb_obat_ibfk_1]
GO
ALTER TABLE [db_apotek].[tb_pemesanan_supplier]  WITH NOCHECK ADD  CONSTRAINT [tb_pemesanan_supplier_ibfk_1] FOREIGN KEY([ID_Supplier])
REFERENCES [db_apotek].[tb_supplier] ([ID_Supplier])
GO
ALTER TABLE [db_apotek].[tb_pemesanan_supplier] CHECK CONSTRAINT [tb_pemesanan_supplier_ibfk_1]
GO
ALTER TABLE [db_apotek].[tb_resep_obat]  WITH NOCHECK ADD  CONSTRAINT [tb_resep_obat_ibfk_1] FOREIGN KEY([ID_Dokter])
REFERENCES [db_apotek].[tb_dokter] ([ID_Dokter])
GO
ALTER TABLE [db_apotek].[tb_resep_obat] CHECK CONSTRAINT [tb_resep_obat_ibfk_1]
GO
ALTER TABLE [db_apotek].[tb_resep_obat]  WITH NOCHECK ADD  CONSTRAINT [tb_resep_obat_ibfk_2] FOREIGN KEY([ID_Detail_Transaksi])
REFERENCES [db_apotek].[tb_detail_transaksi] ([ID_Detail_Transaksi])
GO
ALTER TABLE [db_apotek].[tb_resep_obat] CHECK CONSTRAINT [tb_resep_obat_ibfk_2]
GO
ALTER TABLE [db_apotek].[tb_transaksi]  WITH NOCHECK ADD  CONSTRAINT [tb_transaksi_ibfk_1] FOREIGN KEY([ID_Admin])
REFERENCES [db_apotek].[tb_admin] ([ID_Admin])
GO
ALTER TABLE [db_apotek].[tb_transaksi] CHECK CONSTRAINT [tb_transaksi_ibfk_1]
GO
ALTER TABLE [db_apotek].[tb_transaksi]  WITH NOCHECK ADD  CONSTRAINT [tb_transaksi_ibfk_2] FOREIGN KEY([ID_Pelanggan])
REFERENCES [db_apotek].[tb_pelanggan] ([ID_Pelanggan])
GO
ALTER TABLE [db_apotek].[tb_transaksi] CHECK CONSTRAINT [tb_transaksi_ibfk_2]
GO
USE [master]
GO